<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta chasrset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">

    <title>Aplicativo de Catalogo</title>
  </head>
  <body>
   
   			{% block content %}
			{% endblock %}
  
  </body>
</html>